---
import {Content, getHeadings, frontmatter} from '../content/docs/en/introduction.md'
import MainLayout from '../layouts/MainLayout.astro';

const headings = getHeadings()
console.log(frontmatter)
---

<MainLayout headings={headings}>
	<h1>{frontmatter.title}</h1>
	<Content />
</MainLayout>
